<footer role="contentinfo">
	<p>Built using <a href="https://www.11ty.io/">Eleventy</a>. The source is available on <a href="https://github.com/smccracken/scottmccracken.net">GitHub</a>. Inspired by <a href="https://github.com/Wilto/hire.wil.to">wilto</a></p>
</footer>