<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta property="og:site_name" content="{{ metadata.title }}">
	<link rel="canonical" href="{{ metadata.url }}">

	<title>{{ metadata.title }} – Web Designer From Vermont</title>
	<meta name="description" content="{{ metadata.description }}">
	<meta name="application-name" content="{{ metadata.title }}">
	<link rel="manifest" href="/manifest.json">
	
	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "Organization",
			"url": "{{ metadata.url }}",
			"title": "{{ metadata.title }}",
			"author_name": "{{ metadata.author.name }}",
			"logo": "{{ metadata.url }}/_assets/img/profile.gif",
			"sameAs" : [
				"https://twitter.com/scottmccracken"
			] 
		}
	</script>

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@scottmccracken">
	<meta name="twitter:creator" content="@scottmccracken">
	<meta property="og:site_name" content="{{ metadata.name }}">
	<meta name="twitter:title" content="{{ metadata.title }}">
	<meta property="og:title" content="{{ metadata.title }}">
	<meta property="og:url" content="{{ metadata.url }}">
	<meta name="twitter:description" content="{{ lede }}">
	<meta property="og:description" content="{{ lede }}">
	<meta name="twitter:image" content="{{ metadata.url }}/_assets/img/profile.gif">
	<meta name="twitter:image:alt" content="{{ metadata.description }}">
	<meta property="og:image" content="{{ metadata.url }}/_assets/img/profile.gif">
	<meta property="og:image:alt" content="{{ metadata.description }}">

	<meta name="author" content="{{ metadata.author.name }}">

	<link rel="stylesheet" href="/css/main.css" />
</head>