<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta property="og:site_name" content="{{ data.title }}">
	<link rel="canonical" href="{{ data.url }}">

	<title>{{ data.title }} – Web Designer From Vermont</title>
	<meta name="description" content="{{ data.description }}">
	<meta name="application-name" content="{{ data.title }}">
	<link rel="manifest" href="/webappmanifest.json">
	
	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "Organization",
			"url": "{{ data.url }}",
			"title": "{{ data.title }}",
			"author_name": "{{ data.author.name }}",
			"logo": "{{ data.url }}/_assets/img/profile.gif",
			"sameAs" : [
				"https://twitter.com/scottmccracken"
			] 
		}
	</script>

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@scottmccracken">
	<meta name="twitter:creator" content="@scottmccracken">
	<meta property="og:site_name" content="{{ data.name }}">
	<meta name="twitter:title" content="{{ data.title }}">
	<meta property="og:title" content="{{ data.title }}">
	<meta property="og:url" content="{{ data.url }}">
	<meta name="twitter:description" content="{{ lede }}">
	<meta property="og:description" content="{{ lede }}">
	<meta name="twitter:image" content="{{ data.url }}/_assets/img/profile.gif">
	<meta name="twitter:image:alt" content="{{ data.description }}">
	<meta property="og:image" content="{{ data.url }}/_assets/img/profile.gif">
	<meta property="og:image:alt" content="{{ data.description }}">

	<meta name="author" content="{{ data.author.name }}">

	<link rel="stylesheet" type="text/css" href="/_assets/css/screen.css">
</head>