<header role="banner">
	<h1 class="hed txt-shaded">{{ subhed | safe }}</h1>
	<h2>{{ data.tagline | safe }}</h2>
	<p><img src="https://secure.gravatar.com/avatar/25517df3b482b419226c9d61d94725da?s=128" alt="Headshot of Scott"> {{ lede | safe }}</p>
</header>