body {
  color-scheme: light;
  font-family: var(--font-mono);
  font-size: var(--text-size-base);
  font-weight: 400;
  line-height: var(--leading-loose);
  background-color: var(--color-bg);
  will-change: transform;
  color: var(--color-text);
}

[data-theme="dark"] body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: dark;
}

:is(h1, h2, h3, h4) {
  font-family: var(--font-heading);
  line-height: var(--leading-fine);
  text-wrap: balance;
}

h1 {
  font-size: var(--size-step-5);
  font-weight: 700;
  max-width: 25ch;
}

h2 {
  font-size: var(--size-step-4);
  font-weight: 700;
  max-width: 35ch;
}

:is(h3, h4, h5, h6) {
  font-size: var(--size-step-1);
  font-weight: 600;
}

picture {
  margin-inline: auto;
}

strong {
  font-weight: 500;
}

mark {
  background-color: var(--color-accent-wash);
  color: var(--color-text);
}

p {
  margin-block: 0;
}

ul {
  list-style-type: disc;
  padding-inline-start: var(--global-ul-padding, 1.75ch);
}

ol {
  padding-inline-start: var(--global-ol-padding, 1.75ch);
}

:not(.prose),
[role="tablist"] {
  list-style: none;
  margin-block: 0;
  padding: 0;
}

a:has(svg) {
  display: inline-flex;
  align-items: center;
  gap: 0.25ch;
}
