:root {
  --color-light: hsl(0 0% 98%);
  --color-dark: hsl(210 10% 15%);
  --flow-space: 1em;
  --leading: 1.4;
  --leading-slim: 1.2;
  --leading-fine: 1.1;
  --leading-flat: 1;
  --leading-mini: 0.9;
  --space-2xs: clamp(0.375rem, 0.3414rem + 0.1678vi, 0.5rem);
  --space-xs: clamp(0.5625rem, 0.5122rem + 0.2517vi, 0.75rem);
  --space-s: clamp(0.75rem, 0.6829rem + 0.3356vi, 1rem);
  --space-m: clamp(1.125rem, 1.0243rem + 0.5034vi, 1.5rem);
  --space-l: clamp(1.5rem, 1.3658rem + 0.6711vi, 2rem);
  --space-xl: clamp(1.875rem, 1.7072rem + 0.8389vi, 2.5rem);
  --space-2xl: clamp(3rem, 2.7315rem + 1.3423vi, 4rem);
  --space-3xl: clamp(3.75rem, 3.4144rem + 1.6779vi, 5rem);
  --space-4xl: clamp(5.625rem, 5.1216rem + 2.5168vi, 7.5rem);
  --space-5xl: clamp(7.5rem, 6.8289rem + 3.3557vi, 10rem);
  --space-2xs-xs: clamp(0.375rem, 0.2743rem + 0.5034vi, 0.75rem);
  --space-xs-s: clamp(0.5625rem, 0.4451rem + 0.5872vi, 1rem);
  --space-s-m: clamp(0.75rem, 0.5487rem + 1.0067vi, 1.5rem);
  --space-m-l: clamp(1.125rem, 0.8901rem + 1.1745vi, 2rem);
  --space-l-xl: clamp(1.5rem, 1.2315rem + 1.3423vi, 2.5rem);
  --space-xl-2xl: clamp(1.875rem, 1.3045rem + 2.8523vi, 4rem);
  --space-2xl-3xl: clamp(3rem, 2.4631rem + 2.6846vi, 5rem);
  --space-3xl-4xl: clamp(3.75rem, 2.7433rem + 5.0336vi, 7.5rem);
  --space-4xl-5xl: clamp(5.625rem, 4.4505rem + 5.8725vw, 10rem);
  --space-s-l: clamp(0.75rem, 0.4144rem + 1.6779vi, 2rem);
  --space-s-xl: clamp(0.75rem, 0.2802rem + 2.349vi, 2.5rem);
  --space-m-3xl: clamp(1.125rem, 0.0847rem + 5.2013vw, 5rem);
  --space-l-3xl: clamp(1.5rem, 0.5604rem + 4.6779vi, 5rem);
  --size-step-9: clamp(2.625rem, -0.7643rem + 16.9463vi, 15.25rem);
  --size-step-8: clamp(2.3125rem, 0.1313rem + 10.906vi, 10.4375rem);
  --size-step-7: clamp(2.0625rem, 0.7706rem + 6.4597vi, 6.875rem);
  --size-step-6: clamp(1.8125rem, 1.0742rem + 3.6913vi, 4.5625rem);
  --size-step-5: clamp(1.6875rem, 1.2177rem + 2.349vi, 3.4375rem);
  --size-step-4: clamp(1.5625rem, 1.2773rem + 1.4262vi, 2.625rem);
  --size-step-3: clamp(1.4375rem, 1.2865rem + 0.755vi, 2rem);
  --size-step-2: clamp(1.3125rem, 1.1951rem + 0.5872vi, 1.75rem);
  --size-step-1: clamp(1.1875rem, 1.1036rem + 0.4195vi, 1.5rem);
  --size-step-0: clamp(1.0625rem, 0.9954rem + 0.3356vi, 1.3125rem);
  --size-step--1: clamp(1rem, 0.9664rem + 0.1678vi, 1.125rem);
  --size-step--2: clamp(0.875rem, 0.8414rem + 0.1678vi, 1rem);
  --size-step--3: clamp(0.8125rem, 0.7957rem + 0.0839vi, 0.875rem);
  --size-step--4: clamp(0.625rem, 0.7043rem + -0.0839vi, 0.6875rem);
  --text-size-base: var(--size-step-0);
  --text-size-lede: var(--size-step-1);
  --text-size-meta: var(--size-step--1);
}
