---
permalink: /bookmarks/feed.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Posts - {{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="https://scottmccracken.net/bookmarks/feed.xml" rel="self"/>
  <link href="https://scottmccracken.net"/>
  <updated>{{ collections.bookmarks | rssLastUpdatedDate }}</updated>
  <id>https://scottmccracken.net</id>
  <author>
    <name>Scott McCracken</name>
    <email>scottmccracken@gmail.com</email>
  </author>
  {%- for bookmark in collections.bookmarks %}
  {% set idUrl %}{{ bookmark.url | url | absoluteUrl('https://scottmccracken.net') }}{% endset %}
  {% set absolutePostUrl %}{{ bookmark.url | url | absoluteUrl('https://scottmccracken.net') }}{% endset %}
  <entry>
    <title>{{ bookmark.data.title }}</title>
    {% if bookmark.data.link %}
    <link href="{{ bookmark.data.link }}" rel="alternate" type="text/html"/>
    <link href="{{ absolutePostUrl }}" rel="related" type="text/html"/>
    {% else %}
    <link href="{{ absolutePostUrl }}" rel="alternate" type="text/html"/>
    {% endif %}
    <updated>{{ bookmark.date | rssDate }}</updated>
    <id>{{ idUrl }}</id>
    <content type="html">
      {{ bookmark.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}
    </content>
  </entry>
  {%- endfor %}
</feed>