.visually-hidden {
    border: 0;
    /* stylelint-disable property-no-deprecated */
    clip: rect(0 0 0 0);
    /* stylelint-enable property-no-deprecated */
    height: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
