:root {
  --color-light: #fcfcfc;
  --color-dark: #222;
  --flow-space: 1em;

  color-scheme: light dark;
}

body {
  color-scheme: light;
  display: grid;
  font-family: var(--font-sans);
  font-size: 1.1rem;
  font-weight: 400;
  background-color: var(--color-light);
  place-content: center;
  will-change: transform;
  color: var(--color-dark);
}

[data-theme="dark"] body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: dark;
  background-color: var(--color-dark);
  color: var(--color-light);
}

section {
  max-width: 60ch;
}

picture {
  margin-inline: auto;
}

strong {
  font-weight: 700;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}
