@import "global/reset.css";
@import "global/theme.css";
@import "global/base.css";
@import "composition/cluster.css";
@import "utilities/flow.css";
@import "utilities/region.css";
@import "utilities/visually-hidden.css";

:root {
  color-scheme: light dark;
}
