@import url("global/reset.css");
@import url("global/theme.css");
@import url("global/base.css");
@import url("composition/cluster.css");
@import url("utilities/eyebrow.css");
@import url("utilities/flow.css");
@import url("utilities/region.css");
@import url("utilities/visually-hidden.css");

:root {
  color-scheme: light dark;
}

.flow-space-3xs {
  --flow-space: var(--space-3xs);
}

.flow-space-2xs {
  --flow-space: var(--space-2xs);
}

.flow-space-xs {
  --flow-space: var(--space-xs);
}

.flow-space-s {
  --flow-space: var(--space-s);
}

.flow-space-m {
  --flow-space: var(--space-m);
}

.flow-space-l {
  --flow-space: var(--space-l);
}

.flow-space-xl {
  --flow-space: var(--space-xl);
}

.flow-space-2xl {
  --flow-space: var(--space-2xl);
}

.flow-space-3xl {
  --flow-space: var(--space-3xl);
}

.flow-space-3xs-2xs {
  --flow-space: var(--space-3xs-2xs);
}

.flow-space-2xs-xs {
  --flow-space: var(--space-2xs-xs);
}

.flow-space-xs-s {
  --flow-space: var(--space-xs-s);
}

.flow-space-s-m {
  --flow-space: var(--space-s-m);
}

.flow-space-m-l {
  --flow-space: var(--space-m-l);
}

.flow-space-l-xl {
  --flow-space: var(--space-l-xl);
}

.flow-space-xl-2xl {
  --flow-space: var(--space-xl-2xl);
}

.flow-space-2xl-3xl {
  --flow-space: var(--space-2xl-3xl);
}
