@import url("global/reset.css");
@import url("global/theme.css");
@import url("global/base.css");
@import url("composition/cluster.css");
@import url("utilities/flow.css");
@import url("utilities/region.css");
@import url("utilities/visually-hidden.css");

:root {
  color-scheme: light dark;
}
