{% set coreStyles = [
	'tokens.css',
	'reset.css',
	'base.css',
    'utilities/flow.css',
    'utilities/grid.css',
    'utilities/visually-hidden.css',
    'utilities/wrapper.css',
    'blocks/site-header.css',
    'blocks/site-footer.css'
]%}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="index,follow" />
    {% include "blocks/meta.njk" %}
    <style>{{ helpers.getCSS(coreStyles, layoutStyles) | safe }}</style>

    {% block head %}{% endblock %}
</head>
<body{% if templateClass %} class="{{ templateClass }}"{% endif %}>
    <a class="skip-link" href="#content">Skip to main content</a>
    {% include "blocks/site-header.njk" %}
    <main id="content" class="grid" tabindex="-1">
    {% block content %}{% endblock %}
    </main>
    {% block foot %}{% endblock %}
    {% include "blocks/site-footer.njk" %}
</body>
</html>