<!doctype html>
<html lang="en" class="fonts">
	{% include "components/head.njk" %}
	<body>
		<a class="a11y-only" href="#main" title="Skip to main content">Skip to main content</a>
		{% include "components/header.njk" %}
		<main role="main" id="main"{% if templateClass %} class="{{ templateClass }}"{% endif %}>
			{{ content | safe }}
			{% if class == "home" %}
				{% set sections = collections.sections | reverse %}
				{%- for section in sections-%}
					{% include "layouts/section.njk" %}
				{%- endfor -%}
			{% endif %}
		</main>
		{% include "components/footer.njk" %}
	</body>
</html>