{% extends 'layouts/base.njk' %}

{% block content %}
{{ data }}
{% if image %}
<picture class="{{ image.class }} pad-top-800">
    <img src="{{ image.src }}" alt="{{ image.alt }}" class="centered" />
</picture>
{% endif %}

<div class="wrapper grid-narrow {% if image %}pad-top-200{% else %}pad-top-800{% endif %}">
    <article class="post flow">
        <header class="flow">
            <h1>{{ title }}</h1>
            {{ summary | safe }}
        </header>
    
        {{ content | safe }}
    </article>
</div>
{% endblock %}