<section class="sub sub-{{  section.metadata.pageClass }}" role="region" aria-labelledby="section-{{  section.metadata.pageClass }}">
	<div class="section-head">
		<h2 class="section-hed txt-shaded" id="section-{{ section.metadata.pageClass }}">{{ section.metadata.title | safe }}</h2>
	</div>
	{% if section.metadata.img %}
	<img src="/_assets/img/{{ section.metadata.img }}"{% if section.metadata.fullbleed %} class="fullbleed"{% endif %} alt="{{ section.metadata.alt }}">
	{% endif %}
	{% if section.metadata.points %}
	{% for bullet in section.metadata.points %}
		<li>{{ bullet }}</li>
	{% endfor %}
	{% endif %}
	<div class="copy">
		{{ section.metadata.content | safe }}
	</div>
</section>