---
title: Bookmarks
summary: 'Casting a wide net and collecting links that made me think, are worth sharing, or provide a good reference point on future projects.'
pagination:
  data: collections.bookmarks
  size: 10
permalink: /bookmarks/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber }}/{% endif %}index.html
eleventyNavigation:
  key: Bookmarks
  order: 3
---
{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="o-content">
    {% set items = pagination.items %}
    {% include "components/listing.njk" %}
    {% include "components/pagination.njk" %}
  </div>
{% endblock %}
