---
title: Contact Scott
summary: Have a question or want to say hi? I'd love to hear from&nbsp;you.
permalink: /contact/
eleventyNavigation:
  key: Contact
  order: 4
---
{% extends 'layouts/page.njk' %}

{% block content %}
  {% include "components/form-contact.njk" %}
{% endblock %}