---
title: "Hi, I'm Scott McCracken."
subtitle: "A front-end web developer from Vermont."
permalink: /index.html
---
{% extends "layouts/base.njk" %}

{% block content %}
<header class="u-linear u-margin-bottom-3">
    <h1 class="u-font-size-xxl u-heading-decorate">{{ title }} <span class="subtitle u-font-size-md u-color-gray">{{ subtitle }}</span></h1>
    <div class="c-avatar" style="--aspect-ratio: 1/1;">
      <img src="/assets/img/profile.gif" alt="Photo of Scott McCracken">
    </div>
    <p><strong>I've been making things on the web for the last 15 years.</strong> I believe a good website is only as strong as its foundation in semantic HTML and accessible content.</p>
    <p>I live in northern Vermont with my wife, daughter, and two rescue terrier muts. I really love getting outside and <a href="http://www.instagram.com/scottmccracken/">taking pictures</a>.</p>
</header>

<section class="u-linear">
  <h2>Recent Bookmarks</h2>
  <ul class="c-listing">
    {% for entry in collections.bookmarks | take(4) %}
    <li class="c-listing__item">
      <a href="{{ entry.url }}">{{ entry.data.title }}</a>
      <br>
      <span class="u-color-gray">{{ entry.data.summary }}</span>
    </li>
    {% endfor %}
  </ul>
  <div>{% Link '/bookmarks', 'View more <span class="u-hidden-visually">bookmarks</span>' %}</div>
</section>

<section class="u-linear">
  <h2>Projects</h2>
  <ul class="c-listing">
    {% for project in projects | take(4) %}
    <li class="c-listing__item">
      {% Link project.url, project.title, true %}
      <br>
      <span class="u-color-gray-dark">{{ project.description }}</span>
    </li>
    {% endfor %}
  </ul>
  <div>{% Link 'https://github.com/smccracken', 'View more <span class="u-hidden-visually">on Github</span>', true %}</div>
</section>
{% endblock %}