---
layout: layouts/base.njk
title: Work Experience
permalink: work/index.html
tags: nav
navtitle: Work
navorder: 2
---

{% macro item(job, classes='') %}
<section class="sub job-{{  job.data.slug }}" role="region" aria-labelledby="date-{{  job.data.slug }}" aria-describedby="place-{{ job.data.slug }}">
	<header>
		<h1 id="place-{{ job.data.slug }}">{{ job.data.title | safe }} at {{ job.data.organization }}</h1>
		<p class="meta-datespan">{{ job.data.start }}–{{ job.data.end }}</p>
	</header>
	<div class="job-desc">
		{{ job.templateContent | safe }}
	</div>
</section>
{% endmacro %}

{% set jobs = collections.work %}
{%- for job in jobs | reverse-%}
	{{ item(job) }}
{%- endfor -%}