---
const { class: className } = Astro.props;
---

<div class:list={['container', className]}>
  <slot />
</div>

<style>
  .container {
    margin-inline: auto;
    max-width: var(--wrapper-max-width);
    padding-inline: var(--gutter-wrapper-inline, var(--gutter));
    position: relative
  }
</style>
