---

import Container from '@/components/Container.astro';
import Icon from './Icon/Icon.astro';

const socialLinks = [
  {
    label: 'GitHub',
    url: 'https://github.com/smccracken',
  },
  {
    label: 'LinkedIn',
    url: 'https://www.linkedin.com/in/scottmccracken/',
  },
  {
    label: 'Threads',
    url: 'https://www.threads.com/@scottmccracken',
  },
];
---

<footer class="region" data-flush="bottom">
  <Container>
    <div class="cluster">
      <nav aria-label="Social Links">
        <ul class="cluster">
          {
            socialLinks.map((link) => (
              <li>
                <a href={link.url} rel="me" set:text={link.label} />
              </li>
            ))
          }
        </ul>
      </nav>
      <Icon name="rocket2" />
    </div>
  </Container>
</footer>

<style>
  .cluster { --cluster-horizontal-alignment: space-between; }
</style>
