---
import Container from '@/components/Container.astro';
import ThemeToggle from '@/components/ThemeToggle.astro';

const currentPath = Astro.url.pathname;
const topLevelPath = currentPath.split('/')[1];

const navItems = [
  {
    label: 'Home',
    url: '/',
  },
  {
    label: 'About',
    url: '/about',
  },
  {
    label: 'Now',
    url: '/now',
  },
];
---

<header class="region">
  <Container>
  <div class="cluster">
    <nav aria-label="Main Navigation">
      <ul class="cluster">
        {navItems.map((item) => (
          <li>
            <a href={item.url} aria-current={topLevelPath === item.url.split("/")[1] ? "page" : undefined}>{item.label}</a>
          </li>
        ))}
      </ul>
    </nav>
    <ThemeToggle />
  </div>
  </Container>
</header>

<style>
  .cluster { --cluster-horizontal-alignment: space-between; }
  nav .cluster { --cluster-horizontal-alignment: flex-end; }

  [aria-current="page"] {
    font-weight: 700;
  }
</style>
