@media (min-width: 1000px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 1.5rem;
    }

    .grid > *,
    .grid-normal {
        grid-column: 3 / 11;
    }

    .grid-narrow {
        grid-column: 4 / 10;
    }

    .grid-wide {
        grid-column: 2 / 12;
    }

    .grid-max {
        grid-column: 1 / 13;
    }
}
