---
permalink: .htaccess
---

# gzip:
AddOutputFilterByType DEFLATE text/html text/plain application/javascript text/css

# Error pages:
ErrorDocument 404 /404/
ErrorDocument 500 /500/

# Far-future caching:
<FilesMatch "\.(woff|woff2)$">
Header set Cache-Control "max-age=31536000, public"
</FilesMatch>

Options +Includes
AddHandler server-parsed .html 