---
permalink: webappmanifest.json
---
{
  "lang": "en",
  "dir": "ltr",
  "name": "{{ data.title }}",
  "description": "{{ data.description }}",
  "short_name": "{{ data.shortname }}",
  "start_url": "/",
  "display": "standalone",
  "orientation": "natural",
  "theme_color": "#6d252e",
  "background_color": "#6d252e"
}