<header class="site-header pad-top-400">
<div class="wrapper grid">
    {%- set navPages = collections.all | eleventyNavigation %}
    <nav class="site-header__nav" aria-label="primary">
        <ul class="navigation" role="list">
            {% set prevKey = "" %}
            {%- for item in navPages %}
            {%- if item.key != prevKey %}
            <li><a class="site-header__link" href="{{ item.url | url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.title }}</a></li>
            {% endif %}
            {% set prevKey = item.key %}
            {%- endfor %}
        </ul>
    </nav>
</div>
</header>