:root {
    --flow-space: var(--flow-space);
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-serif);
    line-height: 1.5;
}

a:not([class]) {
    color: currentColor;
}

:focus {
    outline: 2px dashed var(--color-primary);
    outline-offset: 0.25rem;
}

main:focus {
    outline: none;
}

main,
body > header,
body > footer {
    width: 95vw;
    margin: 0 auto;
}

h1,
h2,
h3 {
    line-height: 1.3;
}

hr {
    width: 75%;
    height: 1px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0)
    );
    border: 0;
    margin-top: var(--size-800);
    margin-bottom: var(--size-800);
}
