html {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-serif);
}

a:not([class]) {
    color: currentColor;
}

:focus {
    outline: 2px dashed var(--color-primary);
    outline-offset: 0.25rem;
}

main:focus {
    outline: none;
}

main,
body > header,
body > footer {
    width: 95vw;
    margin: 0 auto;
}
