name: CI

on:
  push:
    branches: [main]
    paths-ignore: ["**/*.md", "**/*.mdx"]
  pull_request:
    branches: [main]
    paths-ignore: ["**/*.md", "**/*.mdx"]

permissions:
  contents: read

jobs:
  html-validate:
    name: HTML5 Validation
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: 10

      - name: Use Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - name: Build and validate HTML5
        run: pnpm html-validate
